@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;700&family=Roboto&family=Roboto+Condensed&display=swap");

/* selected font families 

https://fonts.google.com/share?selection.family=Montserrat:wght@400;500;700%7COpen%20Sans:wght@300;400;700%7CRoboto%7CRoboto%20Condensed

*/

:root {
  --green: #a2ca28;
  --red: #fd634e;
  --white: #fff;
}

.green-text {
  color: var(--green);
}

.red-text {
  color: var(--red);
}

.white-text {
  color: var(--white);
}

.gray-text {
  color: #e3e9e9;
}

.green-bg {
  background-color: var(--green);
}

.red-bg {
  background-color: var(--red);
}

.white-bg {
  background-color: var(--white);
}

.text-align-center {
  text-align: center;
}

header {
  position: relative;
  height: 100vh;
  background: url("../img/headerbg.jpg") center/cover;
}

header nav,
header div {
  position: absolute;
  text-align: center;
  width: 100%;
}

header nav {
  top: 20px;
}

header div {
  bottom: 17vh;
}

nav ul li a {
  font: 0.8rem Roboto, sans-serif;
  letter-spacing: 1px;
  color: var(--white);
  text-transform: uppercase;
}

header div h1,
header div h2 {
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
}

header div h1 {
  font: 2rem "Roboto", sans-serif;
}

header div h2 {
  font: bold 0.94rem "Open Sans", sans-serif;
  letter-spacing: 3px;
}
.container {
  margin: auto;
}

.col-25 {
  padding: 20px 0;
}

.vh-50 {
  height: 50vh;
}

#fitness {
  background: url("../img/fitness.jpg") center/cover;
}

#body {
  background: url("../img/body.jpg") center/cover;
}

#lifestyle {
  background: url("../img/lifestyle.jpg") center/cover;
}

#young-boy {
  background: url("../img/young-boy.jpg") center/cover;
}

#grape {
  background: url("../img/grape.jpg") center/cover;
}

#mango {
  background: url("../img/mango.jpg") center/cover;
}

article.row h2,
article.row h3 {
  text-transform: uppercase;
}

article.row h2 {
  font: 500 0.875rem "Montserrat", sans-serif;
  letter-spacing: 1px;
}

article.row h3 {
  font: 300 2rem "Open Sans", sans-serif;
  margin-bottom: 15px;
}

article.row p {
  margin: 15px 0 10px 0;
}

.underline {
  border-bottom: 1.5px solid var(--green);
}

#body-content,
#fitness-content {
  text-align: center;
  padding: 20px 20px;
}

#body-content > p,
#fitness-content > p {
  font: 0.875rem "Open Sans", sans-serif;
  line-height: 26px;
  color: #656e74;
}

#fitness {
  position: relative;
}

#fitness div {
  width: 140px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#fitness div > h2,
#body div > h2 {
  font: 0.75rem "Open Sans", sans-serif;
}

#fitness div > img {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 19px;
  height: 31px;
}

#body {
  position: relative;
}

#body div {
  width: 170px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#body div > img {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 19px;
  height: 31px;
}

#short-info {
  padding: 20px 10px;
}

#short-info article.col-25 {
  text-align: center;
  padding: 10px 10px 20px 0;
}

#short-info article.col-25 > i {
  font-size: 2rem;
  margin-bottom: 10px;
}

#short-info article.col-25 > h2 {
  font: 300 1.5rem "Open Sans", sans-serif;
  margin-bottom: 20px;
}

#short-info article.col-25 > p {
  text-align: justify;
  font: 400 0.7rem "Roboto", sans-serif;
  padding-bottom: 10px;
}

#young-boy > h2 {
  font: 700 0.875rem "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: var(--white);
}

#young-boy div > h3 {
  font: 700 0.875rem "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: var(--white);
  margin-right: 5px;
}
#young-boy div > i {
  font-size: 0.875rem;
  color: var(--white);
}

#young-boy {
  text-align: center;
}

#young-boy > h2 {
  padding: 10px 0;
}

#young-boy h3 {
  padding: 5px 0;
}

#lifestyle + div,
#grape + div {
  padding: 20px 40px;
  text-align: center;
}

#lifestyle + div > i,
#grape + div > i {
  font-size: 2rem;
  color: #dfe5e5;
  margin-bottom: 20px;
}

#lifestyle + div > h2,
#grape + div > h2 {
  font: 600 0.875rem "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#lifestyle + div > h3,
#grape + div > h3 {
  font: 300 2rem "Open Sans", sans-serif;
  text-transform: uppercase;
}

#lifestyle + div > p,
#grape + div > p {
  font: 0.875rem "Open Sans", sans-serif;
  line-height: 26px;
  color: #656e74;
  font-family: "Open Sans";
  margin-top: 20px;
}

#young-boy + div > h2,
#mango + div > h3 {
  font: 300 2rem "Open Sans", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

#young-boy + div > p,
#mango + div > p {
  font: 0.8125rem "Open Sans", sans-serif;
  line-height: 21px;
}

#young-boy + div,
#mango + div {
  padding: 20px 60px;
  text-align: center;
}

#mango + div > h2 {
  font: 600 1.0625rem "Montserrat", sans-serif;
  letter-spacing: 2px;
}

#mango + div > i {
  font-size: 2rem;
  margin-bottom: 20px;
}

#banner {
  height: 100vh;
  background: url("../img/footerbg.jpg") center/cover;
  text-align: center;
}

#banner div {
  padding-top: 20vh;
}

#banner div > h2 {
  font: 2rem "Open Sans", sans-serif;
  margin: 0 0 40px 0;
}

#banner div > p {
  font: 1rem "Open Sans", sans-serif;
  line-height: 23px;
  width: 50%;
  margin: auto;
}

#footer {
  background: #0c1119;
}

#footer article {
  padding: 0 10px;
}

#footer article > h2 {
  font: 0.9375rem "Open Sans", sans-serif;
  line-height: 12px;
  padding: 60px 0 30px 0;
}

#footer article > p {
  font: 0.875rem "Open Sans", sans-serif;
  line-height: 24px;
  color: #8297a7;
}

.social-img {
  width: 50px;
  height: 50px;
}

#footer div article:last-child div {
  margin: auto;
}

#footer div {
  text-align: center;
}

#form {
  padding: 10px;
}

#name,
#email {
  font: 0.875rem "Roboto", sans-serif;
  color: #83969f;
  width: 200px;
  height: 50px;
  padding: 20px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  margin-bottom: 10px;
}

#btn {
  font: 0.875rem "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
}

#btn:active {
  background: #92b42a;
}

@media only screen and (min-width: 768px) {
  header div h1 {
    font: 2.5rem "Roboto", sans-serif;
  }
  header nav {
    top: 40px;
    text-align: initial;
    padding-left: 50px;
  }

  header div {
    text-align: right;
    width: 480px;
  }
  nav ul {
    float: right;
    padding-top: 20px;
  }

  nav ul li {
    display: inline;
    margin-right: 70px;
  }

  header div h2 {
    padding-right: 60px;
  }

  .container {
    max-width: 1180px;
    margin: auto;
  }

  .row {
    overflow: auto;
  }

  .col-25 {
    width: 25%;
  }
  .col-33 {
    width: 33%;
  }
  .col-67 {
    width: 67%;
  }

  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }

  article.row h3 {
    font-size: 2.1875rem;
  }

  #body-content,
  #fitness-content {
    text-align: center;
    padding: 40px 20px;
  }

  #short-info {
    margin-bottom: 30px;
  }

  #short-info article.col-25 {
    text-align: initial;
    padding-right: 20px;
    /* height: 25vh;
    position: relative; */
  }

  #young-boy h3 {
    padding: initial;
  }

  #young-boy {
    position: relative;
    text-align: initial;
  }

  #young-boy > h2 {
    position: absolute;
    top: 60px;
    left: 60px;
    text-transform: uppercase;
    padding: initial;
  }

  #young-boy > div {
    position: absolute;
    top: 60px;
    right: 60px;
    text-transform: uppercase;
  }

  #lifestyle + div,
  #grape + div {
    padding: 80px 40px;
    text-align: initial;
  }

  #lifestyle + div > h3,
  #grape + div > h3 {
    font-size: 2.1875rem;
  }

  #young-boy + div > h2 {
    font-size: 2.5rem;
    padding: 0 0 30px 0;
  }

  #young-boy + div {
    text-align: initial;
    padding-top: 70px;
  }

  #mango + div > h3 {
    font-size: 2.5rem;
  }

  #mango + div > i {
    margin-top: 10px;
  }

  #mango + div {
    padding: 60px 10px 60px;
  }

  #fitness div {
    right: 40px;
    bottom: 50px;
  }

  #body div {
    left: 50px;
    bottom: 55px;
  }
  #banner div > h2 {
    font-size: 2.8125rem;
  }

  #footer {
    height: 100vh;
  }
  #footer article {
    padding: 0 50px 0 0;
  }

  #name {
    width: 200px;
    height: 50px;
  }

  #email {
    width: 340px;
    height: 50px;
  }

  #form {
    text-align: initial;
    float: right;
  }

  #footer div {
    text-align: initial;
  }

  #name {
    width: 170px;
  }

  #email {
    width: 200px;
  }
  #name,
  #email,
  #btn {
    float: left;
    margin: 0 10px 0 0;
  }
}
